---
import Header from '../components/Header.astro';
---

<html lang="fr">
  <head>
    <title>À propos</title>
  </head>
  <body class="bg-mint font-inter text-gray-900">
    <Header />
    <main class="p-8">
      <h2 class="text-3xl font-bold mb-4">À propos</h2>
      <p>Ici tu parleras de toi.</p>
    </main>
  </body>
</html>
