<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta http-equiv="refresh" content="0; URL='/fr'" />
    <title>Redirection…</title>
  </head>
  <body>
    <p>Redirection vers la version française…</p>
  </body>
</html>
