---
import Header from '../components/Header.astro';
---

<html lang="fr">
  <head>
    <title>Mes projets</title>
  </head>
  <body class="bg-mint  text-gray-900">
    <Header />
    <main class="p-8">
      <h2 class="text-3xl font-bold mb-4">Mes projets</h2>
      <p>Ici tu parleras de tes projets</p>
    </main>
  </body>
</html>