 
 <section class="relative  bg-whitey py-20 px-16 w-[100vw]  h-auto left-0 ">
    <div class="flex flex-col space-y-6 max-w-[60ch]">
        <h2 class="text-h2 font-bold text-blue border-b-4 border-blue">About me</h2>

        <h4 class="text-h4 text-green-dark font-inter max-w-[25ch]">
        <span class="font-bold">I’m Eunice, a designer & front-end developer</span> passionate about accessibility, simplicity, and the power of well-crafted ideas.
        </h4>

        <p>
        I grew up in Namur, a quiet city that shaped my curious and grounded personality.
        French is my native language, but I also studied Dutch, and I speak English 
        fluently thanks to international projects and experiences.
        </p>

        <p>
        I’m a web design graduate from Haute Ecole Albert Jacquard. I love creating clear, 
        inclusive, human-centered interfaces. 
        I combine my coding and design skills to bring cohesive and accessible projects to life.
        </p>
    </div>
    <!-- Grille en 2 lignes, 2 colonnes -->
    <div class="grid md:grid-cols-2 grid-rows-[auto_1fr] gap-x-12 gap-y-8">
        <!-- Ligne 1 -->
        <div></div> <!-- vide en haut à gauche -->

        <div>
            <h4 class="text-h4 font-bold text-blue flex items-center gap-2 justify-center">
                <img src="/assets/goal.png" alt="" class="w-11 h-11" />
                What I’m looking for ?
            </h4>
        </div>

        <!-- Ligne 2 -->
        <div class="flex flex-col gap-6 h-full">
            <h4 class="text-h4 font-bold text-blue">Fun facts or not about me</h4>
            <div class="flex flex-col gap-6 h-full justify-end">
                <div class="bg-purple-light border border-purple-darker text-p p-6 rounded-2xl">
                I believe crème fraîche and tomatoes are soulmates. I've probably eaten that combo 200 times and counting.
                </div>
                <div class="bg-purple-light border border-purple-darker text-p p-6 rounded-2xl">
                I’m not afraid to get hands-on — I once fixed a watch with tweezers and blind optimism. It still tells time. Mostly.
                </div>
                <div class="bg-purple-light border border-purple-darker text-p p-6 rounded-2xl">
                I believe the best plans start with “Let’s eat something” and end with “Wait, how is it 2AM?”
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-6 h-[full] px-16 items-end justify-end">
            <div class="flex flex-col justify-evenly h-full w-full bg-orange-light border border-orange-dark rounded-2xl ">
                <div class=" text-p p-6 rounded-2xl">
                I’m currently looking for my first job as a front-end developer. I enjoy building clean, modern, and accessible interfaces —
                from thoughtful HTML/CSS structure to smooth micro-interactions and responsive layouts. I’d love to join a team that values
                quality code, collaboration, and visual precision.
                </div>
                <div class=" text-p p-6 rounded-2xl">
                 What I’m looking for is a space where I can grow as a front-end developer while leveraging my design eye and UI sensitivity.
                I want to contribute to projects that matter, take time to do things well, and explore how code and creativity can work together
                to build beautiful, efficient, and human-centered experiences.
                </div>
               
            </div>
        </div>

        <!-- <div class="h-full flex">
            <div class="bg-orange-light  text-blue  p-6 rounded-2xl shadow flex flex-col justify-around h-full w-full">
                <p>
                I’m currently looking for my first job as a front-end developer. I enjoy building clean, modern, and accessible interfaces —
                from thoughtful HTML/CSS structure to smooth micro-interactions and responsive layouts. I’d love to join a team that values
                quality code, collaboration, and visual precision.
                </p>
                <p >
                What I’m looking for is a space where I can grow as a front-end developer while leveraging my design eye and UI sensitivity.
                I want to contribute to projects that matter, take time to do things well, and explore how code and creativity can work together
                to build beautiful, efficient, and human-centered experiences.
                </p>
            </div>
        </div> -->
    </div>
<!-- <a href="". class=" uppercase p-4 rounded-2xl text-center m-11 bg-purple-darker">Download my resume</a> -->
<a href="" class="uppercase p-4 rounded-2xl text-center bg-purple-darker text-white block mx-auto max-w-80 mt-14">
  Download my resume
</a>
    <!-- image positionnée en dehors du flux -->
    <img src="/assets/avatar_about.png" alt="" class="w-[400px] absolute right-20 top-20" />
</section>