
      <h1 class="text-4xl font-bold mb-6">I'M EUNICE MUTOPE</h1>
	  <p>I design and build  accessible, user-friendly interfaces.</p>
	  <div>WEBSITE</div>
	  <div>POSTER DESIGN</div>
	  <div>HOBBY</div>
      <!-- <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        {projets.map(projet => <CardProjet projet={projet} />)}
      </div> -->
    