
    <h1 class="text-h1 font-bold text-blue max-w-[0ch]"><span class="text-h3">I'M </span>EUNICE MUTOPE</h1>
    <h4 class="text-h4 text-green-dark font-inter max-w-[20ch]">I design and build  accessible, user-friendly interfaces.</h4>
     <img src="/assets/avatar_acceuil.png" alt="" class="w-[430px] absolute right-20 top-32 -z-10" />
    <div class="flex gap-20 text-center mt-10 justify-center text-h5 font-jose font-bold relative mb-10">
        
        <div class="bg-beige w-[250px] h-[150px] flex flex-col items-center justify-center rounded-3xl shadow-md relative text-center">
            <span class="text-h5 font-bold text-blue z-10">WEBSITE</span>
            <img src="/assets/website_ribbon2.png" alt="" class="absolute z-0 w-[200px]" />
        </div>
        <div class="bg-green-light w-[250px] h-[150px] flex flex-col items-center justify-center rounded-3xl shadow-md relative text-center">
            <span class="text-h5 font-bold text-blue z-10">POSTER DESIGN</span>
            <img src="/assets/poster_ribbon3.png" alt="" class="absolute z-0 w-[200px]" />
        </div>
        <div class="bg-purple-darker w-[250px] h-[150px] flex flex-col items-center justify-center rounded-3xl shadow-md relative text-center">
            <span class="text-h5 font-bold text-blue z-10">HOBBY</span>
            <img src="/assets/hobby_ribbon2.png" alt="" class="absolute z-0 w-[200px]" />
        </div>
        <div class="bg-whitey w-[100vw] h-60 absolute top-20 -z-10"></div>
        <!-- <div class="bg-green-light w-[300px] h-[195px] flex items-center justify-center rounded-3xl">POSTER DESIGN</div>
        <div class="bg-purple-darker w-[300px] h-[195px] flex items-center justify-center rounded-3xl">HOBBY</div> -->
    </div>
    

      <!-- <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        {projets.map(projet => <CardProjet projet={projet} />)}
      </div> -->
    