 <!-- <h1 class="text-h1 font-bold text-blue max-w-[0ch]"><span class="text-h3">I'M </span>EUNICE MUTOPE</h1>
    <h4 class="text-h4 text-green-dark font-inter max-w-[20ch]">I design and build  accessible, user-friendly interfaces.</h4>
     <img src="/assets/avatar_acceuil.png" alt="" class="w-[430px] absolute right-20 top-20 -z-10" /> -->


     